/* *{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav
{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 7vh;
}
label{
    margin-top: 1%;
}
.logo{
    color: rgb(0, 200, 255);;
    font-size: 30px;
    padding-left: 2%;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-top: 1%;
    width: 39%;
}


nav ul li{
    display: inline-block;
    margin: 0 1%;
}

nav ul li a{
    color: black;
    font-size: 17px;
    text-transform: uppercase;

}

a.active,a:hover{
color: rgb(0, 200, 255);;
} 

.checkbtn{
    float: right;
    margin-right: 2%;
    margin-top: 1%;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width:1024px){
    .logo{
        font-size: 35px;
        padding-left: 2%;
    }
    nav ul {
        width: 50%;
    }
    nav ul li a {
        font-size: 12px;

    }


  
}
@media (max-width:426px){

   .checkbtn{
    display: block;
   } 
   nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: blueviolet;
    
    left: -100%;
    text-align: center;
    transition: all .5s;
   }  
   
   nav ul li{
    display: block;
    margin: 4%;
    line-height: 30px;
   }
   nav ul li a {
    font-size: 20px;
   }

   a.active,a:hover{
    color: black;
    } 

    #check:checked ~ ul{
        left: 0;
    }
    
    

}


.section1{
    background: url("../img/carousel-1.jpg") no-repeat;
    background-size: cover;
    height: calc(100vh - 50px);
} */

.navbar {
    top: 0;
    transition: 0.4s;
    position: fixed;
    z-index: 99;
    width: 100%;
}

.d-block {
    filter: grayscale(50%);

}

.center {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: white;
}

.navbar-brand {
    margin-left: 2%;
    color: #06BACA;
    font-weight: bold;
}

.nav-link {
    color: black;
    font-size: 17px;
    text-transform: uppercase;

}

.nav-link.active,
.nav-link:hover {
    color: #06BACA;
}

#check:checked~ul {
    left: 0;
}

#join {
    background-color: #06BACA;
    color: white;
}

#join:hover {
    color: white;
}

#p1 {
    color: #06BACA;
    font-size: small;
    font-weight: bold;

}

#p2 {
    color: white;
    font-size: small;
    font-weight: bold;
    font-size: 30px;

}


#b1 {
    padding: 3% 6% 3% 6%;
    background-color: #06BACA;
    border-color: #06BACA;
}

#b2 {
    padding: 3% 6% 3% 6%;
    background-color: white;
}


.carousel-control-next {
    border: 1px solid white;
    height: 6%;
    width: 3%;
    top: 40%;
}



.carousel-control-prev {
    border: 1px solid white;

    height: 6%;
    width: 3%;
    top: 40%;
}

#row1 {
    padding: 0% 4% 0% 4%;
    margin-top: 5%;
    margin-bottom: 2%;
}


.p-3:hover {
    color: white;
}

.col1:hover {
    margin-left: 1%;
    background-color: #06BACA;
    border-radius: 20px;
}

.p-3 {
    line-height: 40px;
    color: black;
    margin-left: 1%;

}

.col1 {
    margin-left: 1%;
    background-color: aliceblue;
}

.imageabout {
    height: 70%;
    width: 100%;
}

ul li {
    list-style-type: none;
}

#sctionabout {
    padding-left: 7%;
    padding-right: 6%;
    margin-top: 8%;
}

#sctionabout p {
    line-height: 4vh;
}

h4 {
    color: #06BACA;
}

#sctionabout .bi-arrow-right {
    color: #06BACA;
}




#sectioncat{
    margin-top: 4%;
}
.images{
    margin-left: 9%;
    
}
.image23 img {
    width: 100%; 
    /* width: 100%;
    height: 100%;*/
   
}

.image23{
    margin-top: 2%;
}

.image4{
    width: 72%;
}

.img{
    position: relative;
}
.bottomright {
    position: absolute;
    bottom: 2%;
    right: 1%;
    font-size: 18px;
  }




  /* SECTION POPULAR  */


  .popular{
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .popular h4{
    color: #06BACA;

  }

  .popular .row {
    padding: 0 6% 0% 6%;
  }

  .popular .card{
    background-color: #cbedf0;
    border: none;
    width: 20rem;
  }
  .popular .card-text{
    margin-top: -10%;
  }

  .popular  .card-text img{
    height: 9vh;
  }

   .pbody{
    margin-top: -10%;
  }


  img:hover{
     transform: scale(1.05);
  }

  .list-group-item {
    width: 100%;
    height: 6vh;
    font-size: 12px;
    background-color: #cbedf0;

  }


  /* Testimonial Styles */
.testimonial-carousel::before,
.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #6c757d;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}

/* section footer */

.footer .btn-link {
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}


.footer .btn-social {
    text-decoration: none;
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}


.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
}

.footer .copyright a {
    color: var(--light);
}


.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}







/******************* media scrine ************************/
@media (max-width:426px) {
    .center {
        position: absolute;
        top: 50%;
        left: 35%;
        transform: translate(-50%, -50%);
        font-size: 18px;
        color: white;
    }

    #p1 {
        color: #06BACA;
        font-size: small;
        font-weight: bold;

    }

    #p2 {
        color: white;
        font-size: small;
        font-weight: bold;
        font-size: 15px;

    }


    #b1 {
        padding: 2% 4% 2% 4%;
        background-color: #06BACA;
        border-color: #06BACA;
        font-size: 10px;
    }

    #b2 {
        padding: 2% 4% 2% 4%;
        background-color: white;
        font-size: 10px;
    }

    .carousel-control-next {
        border: 1px solid white;
        height: 15%;
        width: 7%;
        top: 40%;
    }



    .carousel-control-prev {
        border: 1px solid white;
        height: 15%;
        width: 7%;
        top: 40%;

    }

    .col {
        flex: none;
        margin-bottom: 2%;

    }



    .popular .row {
        padding: 0 10px;
      }

   

   



}


@media only screen and (max-width: 769px) {
    .popular .row {
      flex-direction: column;
      padding: 0 15% 0% 30%;

      /* Autres styles */
    }

    .popular .row .col {
        margin-top: 2%;
      }
  
    .list-group.list-group-horizontal {
      flex-direction: column;
      /* Autres styles */
    }
  }
/* @media(max-width: 769px)  {
 section popular 
    .popular .row {
      padding: 0 15% 0% 30%;
    }

    .popular .row .col {
        margin-top: 2%;
      }
    .list-group-item {
      font-size: 100px;
    }
  } */



@media only screen and (max-width:1025px)
{

    #sctionabout p {
        line-height: 4vh;
    }

    .imageabout {
        height: 100%;
        width: 100%;
    }



    /* section popular */
    .popular .card{
        width: 16rem;
      }

      .list-group-item {

        font-size: 10px;
    
      }

  
}